#sec-main-land {
  height: 23.5rem;
  background-color: var(--peru-950);
}

#sec-main-land::before {
  content: "";
  translate: 0 140px;
  position: absolute;
  clip-path: ellipse(50% 50% at 50% 100%);
  width: 100%;
  height: 100px;
  background: var(--peru-700);
}

.box-center {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-text {
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
}

.box-main-land {
  margin-bottom: 30px;
}